// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~bootstrap-icons/font/bootstrap-icons.scss";


$color-system: #f0f0f0;
$color-system-40: #f0f0f040;
$color-system-80: #f0f0f080;

html, body {
  min-width: 320px;
  box-sizing: border-box;
  //max-width: 100vw;
  //background-color: #fff;
}

*.colorBlack table{
  color: white !important;
  &:hover, &:link {
    background-color: black;
    color: white !important;
    font-weight: bold;
  }
}

*.colorBlack .dropdown-menu {
  background-color: black;
  color: white !important;
  &:hover, &:link {
    background-color: black;
    color: white !important;
    font-weight: bold;
  }
}

*.colorBlack .dropdown-item, *.colorBlack  .b-dropdown {
  background-color: black !important;
  color: white !important;
  &:hover {
    background-color: black !important;
    color: white !important;
    font-weight: bold;
  }
}

*.colorBlack .content-box, *.colorBlue .content-box {
  box-shadow:  none !important;
}

*.colorBlack .dashboard-card {
  background-color: black !important;
  border: 2px solid white;
  &:hover {
    font-weight: bold;
  }
}

*.colorBlue .dashboard-card {
  background-color: #4896ff !important;
  border: 2px solid white;
  &:hover {
    font-weight: bold;
  }
}

*.colorWhite .dashboard-card {
  border: 2px solid black;
  &:hover {
    font-weight: bold;
  }
}

*.colorBlue footer {
  background-color: #4896ff;
  color: #063462;
}
*.colorBlack footer {
  background-color: black;
  color: white;
}
*.colorBlack figcaption {
  background-color: black !important;
  color: white !important;
  font-size: inherit !important;
}
*.colorBlack .breadcrumb, *.colorBlack .breadcrumb > .breadcrumb-item , *.colorBlack .breadcrumb-item > a, *.colorBlack > a {
  background-color: black !important;
  color: white !important;
  font-size: inherit !important;
  &:link {
    background-color: black !important;
    color: white !important;
    font-size: inherit !important;
  }
}
*.colorBlue .breadcrumb, *.colorBlue .breadcrumb > .breadcrumb-item , *.colorBlue .breadcrumb-item > a, *.colorBlue > a {
  background-color: unset !important;
  color: #063462 !important;
  font-size: inherit !important;
  &:link {
    background-color: unset !important;
    color: #063462 !important;
    font-size: inherit !important;
  }
}
*.colorBlack .meeting-item, *.colorBlack .meeting-item-text {
  background-color: black !important;
  color: white !important;
  font-size: inherit !important;
}
*.colorBlack .meeting-item {
  &:hover {
    background-color: black !important;
    color: white !important;
    font-size: inherit !important;
    font-weight: bold;
  }
}
*.colorBlue .meeting-item, *.colorBlue .meeting-item-text {
  filter: initial !important;
  background-color: unset !important;
  color: #063462 !important;
  font-size: inherit !important;
}
*.colorBlue .meeting-item {
  filter: initial !important;
  &:hover {
    background-color: unset !important;
    color: unset !important;
    font-size: inherit !important;
    font-weight: bold;
  }
}

.colorBlack .content-box {
  border: 1px solid white;
}
.colorBlue .content-box {
  border: 1px solid #063462;
}
.colorWhite .content-box {
  border: 1px solid black;
}
.colorBlack .bg-white {
  background: black !important;
}
.colorBlue .bg-white {
  background: unset !important;
}
.colorBlack .bg-white-please {
  background: darkgrey !important;
}

.colorBlack input {
  background-color: black !important;
}

.cecutient {
  //.btn, a, .multiselect, .content
  .navbar-brand, .content {
    filter: grayscale(100%);
  }
  .content a {
    background: unset !important;
  }
}

.settingColor {
  filter: unset !important;
}

.colorBlue {
  .navbar-brand {
    filter: grayscale(100%);
  }
  a, .btn, input {
    filter: none !important;
    color: #063462 !important;
    border-color: #063462 !important;
  }
}

main {
  min-height: 90vh;
}

.footer {
  min-height: 10vh;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: #f0f0f0;
  color: grey;
}

.no-select {
  user-select: none;
}


.fs-16 {
  font-size: 16pt;
}

.fs-32 {
  font-size: 32pt;
}

.fs-150p {
  font-size: 150%;
}

.cursor-pointer {
  cursor: pointer;
}

.indent-25 {
  text-indent: 25px;
}

.content {
  margin: auto;
  width: 80%;
  max-width: 1000px;
}
.content-box {
  //border: 1px solid $color-system-80;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 65px;
  box-shadow:  20px 20px 60px #bebebe,
  -20px -20px 60px #ffffff;
  padding-bottom: 50px;
}

.invalid-feedback {
  display: block;
}

.form-control {
  min-height: 44px;
  border: 1px solid #e8e8e8;
}

.group-row {
  padding: 5px;
  //&:hover {
  //  background-color: rgba(0, 0, 0, 0.075);
  //}
}
.lightgrey {
  background-color: #f0f0f080;
}
.meeting-box {
  padding: 5px;
  //background-color: #f8fafc;
}
.meeting-item {
  background-color: white;
  display: inline-block;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  &:hover {
    box-shadow:   4px 4px 4px 1px rgba(34, 60, 80, 0.2);
  }
  &:link {
    text-decoration: none; color: black;
  }
}
.meeting-item-text {
  text-decoration: none; color: black;
  &:hover, &:link {
    text-decoration: none; color: black;
  }
}

.dashboard {
  display: block;
  margin-top: 25px;

  .dashboard-title {
    font-weight: 600;
    font-size: 16pt;
    user-select: none;
  }

  .dashboard-cards {
    width: 100%;
    display: flex;
    flex: 0 1 0;
    flex-wrap: wrap;
    word-break:break-all;

    .dashboard-card {
      display: block;
      //flex-basis: 250px;
      flex-shrink: 2;
      min-width: 215px;
      flex-grow: 2;
      padding: 10px;
      margin: 5px;
      word-break:break-all;


      //border: 1px solid $color-system;
      border-radius: 15px;
      color: black;
      background-color: $color-system-80;

      cursor: pointer;
      &:hover {
        text-decoration: none;
        background-color: $color-system;
        //box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

      }
      &:active, &:visited , &:link {
        color: inherit;
        text-decoration: none;
      }

      .dashboard-card-title {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        word-break: keep-all;
        user-select: none;
        font-size: 12pt;
      }

      .dashboard-card-icon {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        font-size: 30pt;
        margin-bottom: 0;
      }
    }
    .grow-6 { flex-grow: 6; }
    .grow-5 { flex-grow: 5; }
    .grow-4 { flex-grow: 4; }
    .grow-3 { flex-grow: 3; }
    .grow-2 { flex-grow: 2; }
    .grow-1 { flex-grow: 1; }
    .grow-fix { max-width: 275px; }
    .grow-fix-mini { min-width: 160px; max-width: 160px; }
    .blue  { background-color: #D0E2EB80; &:hover { background-color: #91b1c480; } } //99FFFF 0d6efd 66CCCC
    .green { background-color: #41b88340; &:hover { background-color: #41b88380; } } //99FF99 38c172
    .red   { background-color: #FF663340; &:hover { background-color: #FF663380; } } //FF6633 e3342f
  }
}