//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~bootstrap-icons/font/bootstrap-icons.scss";

html, body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

// Блок с позиционированием по центру
.center-block {
  display: flex;
  align-items: center;
  justify-content: center;
  //position: relative;
  height: 100%;
  width: 100%;
}

.panel-page {
  min-height: 90%;
  width: 60%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 25px;
}


//
//html, body {
//  //background-color: #fff;
//  //color: #636b6f;
//  //font-family: 'Open Sans', sans-serif;
//  //font-family: 'Times New Roman', serif;
//  font-family: $font-family-sans-serif;
//  //font-weight: 600;
//  height: 100vh;
//  margin: 0;
//}
////h1 {
////  font-weight: 100;
////}
////
//.full-height {
//  height: 100vh;
//}
////
//.flex-center {
//  //align-items: center;
//  display: flex;
//  justify-content: center;
//}
////
//.position-ref {
//  position: relative;
//}
////
////.top-right {
////  position: absolute;
////  right: 10px;
////  top: 18px;
////}
////
//.content {
//  text-align: center;
//}
////
////
////
//.links > a {
//  //color: #636b6f;
//  padding: 0 25px;
//  font-size: 13px;
//  //font-weight: 600;
//  //letter-spacing: .1rem;
//  //text-decoration: none;
//  text-transform: uppercase;
//}
//
//
//
//%statement-font-styles {
//  h1 {
//    font-size: 200%;
//  }
//  h2 {
//    font-size: 160%;
//  }
//  h3 {
//    font-size: 140%;
//  }
//}
//
////
////
////
//
//$statement-color: #f0f0f0;
//$statement-color-40: #f0f0f040;
//$statement-color-80: #f0f0f080;
//$statement-color-second: gray;
//
//.statement {
//  @extend %statement-font-styles;
//}
//
//.statement-row, .statement-row-colored {
//  @extend %statement-font-styles;
//  display: block;
//  box-sizing: border-box;
//  margin: 5px 0;
//  padding: 15px;
//  border-radius: 15px;
//  color: black;
//  user-select: none;
//  &:hover {
//    cursor: pointer;
//    color: black;
//    text-decoration: none;
//    background-color: $statement-color;
//    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
//  }
//}
//
//.statement-row-colored {
//  border: 1px solid $statement-color;
//  background-color: $statement-color-40;
//}
//
//.statement-name {
//  overflow: hidden;
//  text-overflow: ellipsis;
//  display: -webkit-box;
//  -webkit-line-clamp: 2;
//  -webkit-box-orient: vertical;
//  &::first-letter {
//    text-transform: uppercase;
//  }
//}
//
//.statement-desc {
//  .statement-desc-item {
//    display: inline-block;
//  }
//}
//
//.indent-25 {
//  text-indent: 25px;
//}
//
//.statement-filter {
//  @extend %statement-font-styles;
//  zoom:80%;
//  display: block;
//  box-sizing: border-box;
//  margin: 5px 0;
//  padding: 15px;
//  border-radius: 15px;
//  border: 1px solid $statement-color;
//  background-color: $statement-color-40;
//  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
//}
//
////
//// Оформление карточек и ссылок на манер ведомостей
////
//.statement-card {
//  display: flex;
//
//  .statement-card-item {
//    display: inline-block;
//    width: 100px;
//    margin: 5px;
//    padding: 10px;
//    text-align: center;
//    border: 1px solid $statement-color;
//    border-radius: 15px;
//    color: black;
//    background-color: $statement-color-80;
//    cursor: pointer;
//    &:hover {
//      cursor: pointer;
//      color: black;
//      text-decoration: none;
//      background-color: $statement-color;
//      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
//    }
//    &:active, &:visited , &:link {
//      color: inherit;
//      text-decoration: none;
//    }
//
//    .statement-card-item-icon {
//      font-size: 30pt;
//      margin-bottom: 0;
//    }
//
//    .statement-card-item-title {
//      user-select: none;
//      font-size: 9pt;
//      margin-bottom: 0;
//    }
//  }
//}
//.statement-card-right {
//  justify-content: flex-end;
//}
//
//.bg-danger-light {
//  background-color: rgb(255, 241, 243);
//}
//
//.history-block {
//  padding: 10px;
//  border-radius: 15px;
//}
//.history-block-even {
//  background-color: $statement-color-80;
//}
//
//.history-block-warning {
//  background-color: #ffcc0026;
//}
//.history-block-warning-even {
//  background-color: #ffcc0040;
//}
//
//.statement-form-group {
//  .statement-button-group {
//    .statement-button-group-item {
//      font-size: small;
//    }
//  }
//}
//
//.statement-history-block {
//  @extend %statement-font-styles;
//  display: block;
//  box-sizing: border-box;
//  margin-bottom: 15px;
//  padding: 10px;
//  border: 1px solid $statement-color;
//  border-radius: 15px;
//  color: black;
//  background-color: $statement-color-40;
//}
//
//.statement-history-block-title {
//  margin-top: 0;
//}
//
//.statement-history-row {
//  @extend %statement-font-styles;
//  margin: auto;
//}
//
//.statement-history-col {
//  margin: 5px;
//  padding: 5px;
//  border: 1px solid $statement-color-second;
//  border-radius: 15px;
//}
//
//.statement-history-col-title {
//  margin: 0 0 15px 0;
//  border-bottom: 1px solid $statement-color-second;
//  color: $statement-color-second;
//}
//
//.statement-history-col-text {
//  margin: 0;
//}
//
//.statement-history-col-key {
//  color: $statement-color-second;
//}
//
//.statement-history-col-value {
//  color: black;
//}
//
//.ghost {
//  background-color: $statement-color-80 !important;
//}
//
//// .statement-modal {
//// 	@extend %statement-font-styles;
//// 	border-radius: 15px;
//
//// 	.modal-header {
//// 		border-radius: 15px 15px 0 0;
//// 		background-color: #f0f0f0;
//// 		.modal-title {
//// 		}
//// 	}
//
//// 	.modal-footer{
//// 		border-radius: 0 0 15px 15px;
//// 		//background-color: #f0f0f07e;
//// 	}
//// }
//
//// Когда нибудь меня захотят за это убить
//.zoom-80 {
//  zoom: 80%;
//}
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
////html, body {
////  background-color: #fff;
////  color: #636b6f;
////  font-family: 'Nunito', sans-serif;
////  font-weight: 200;
////  height: 100vh;
////  margin: 0;
////}
////
////.full-height {
////  height: 100vh;
////}
////
////.flex-center {
////  align-items: center;
////  display: flex;
////  justify-content: center;
////}
////
////.position-ref {
////  position: relative;
////}
////
////.top-right {
////  position: absolute;
////  right: 10px;
////  top: 18px;
////}
////
////.content {
////  text-align: center;
////}
////
////.title {
////  font-size: 84px;
////
////}
////
////.links > a {
////  color: #636b6f;
////  padding: 0 25px;
////  font-size: 13px;
////  font-weight: 600;
////  letter-spacing: .1rem;
////  text-decoration: none;
////  text-transform: uppercase;
////}
////
////.m-b-md {
////  margin-bottom: 30px;
////}
