<div id="cecutientPanel" class="hide-on-normal">
	<div class="settingFontSize">
		<div style="margin-top: 15px; font-size: 16pt;">Размер шрифта</div>
		<div>
			<a id="reduceFontSize" href="#"><span>-</span></a><a id="increaseFontSize" href="#"><span>+</span></a>
		</div>
	</div>
	<div class="settingColor">
		<div style="margin-top: 15px; font-size: 16pt;">Цвет сайта</div>
		<div>
			<a id="colorWhite" href="#"></a><a id="colorBlack" href="#"></a><a id="colorBlue" href="#"></a>
		</div>
	</div>
	<div class="settingImages">
		<div style="margin-top: 15px; font-size: 16pt;">Изображения</div>
		<div>
			<a class="" id="switchOnImages" href="#"><span>Вкл.</span></a><a class="current" id="switchOffImages" href="#"><span>Выкл.</span></a>
		</div>
	</div>
</div>