<template>
    <a class="cursor-pointer" @click="confirmMe">
        <slot></slot>
    </a>
</template>

<script>
// Ядро
import Vue from "vue";

export default {
  props: {
    // Тип запроса
    type_query: {
      type: String,
      default: 'get',
    },
    // Редирект
    redirect: {
      type: String,
      default: ""
    },
    // Текст модального окна
    href: {
      type: String,
      default: '?'
    },
    // Текст кнопки подтверждения
    ok_title: {
      type: String,
      default: 'Подтвердить'
    },
    // Текст кнопки подтверждения
    cancel_title: {
      type: String,
      default: 'Отменить'
    },
    // Вариант отображения кнопки
    ok_variant: {
      type: String,
      default: 'primary'
    },
    // Заголовок модального окна
    title: {
      type: String,
      default: 'Подтверждение действия'
    },
    // Текст модального окна
    text: {
      type: String,
      default: 'Вы уверены, что хотите выполнить это действие?'
    },
  },
  methods: {
    // Вызов модального окна
    confirmMe() {
      this.$bvModal.msgBoxConfirm(this.text, {
          title: this.title,
          size: 'md',
          buttonSize: 'md',
          okVariant: this.ok_variant,
          okTitle: this.ok_title,
          cancelTitle: this.cancel_title,
          footerClass: 'p-2',
          hideHeaderClose: false,
          //centered: true
        })
          .then(value => {
            if(value == true) {
              if(this.type_query == "delete") {
                Vue.axios.delete(this.href).then(response => {
                    window.location.href = this.redirect;
                })
              } else {
                window.location.href = this.href;
              }
            }
          })
    }
  }
}
</script>