<template>
  <div>
    <b-form @submit="onSubmit">
     
  
      <div class="row">
        <div class="col-md-12">
       
          
          <div class="row">
             <!-- Название -->
            <div class="col-md-6">
              <b-form-group 
                label="Название:"
                label-for="title" description=""
                :invalid-feedback="validations.title">
                <b-form-input 
                  id="title"
                  type="text"
                  class="form-control-v2"
                  v-model="role.title"
                  placeholder="Введите название роли"
                  :disabled="loading"
                  required
                  ></b-form-input>
              </b-form-group>
            </div>
            <!-- Системное имя -->
            <div class="col-md-6">
              <b-form-group 
                label="Системное имя:"
                label-for="name" description=""
                :invalid-feedback="validations.name">
                <b-form-input 
                  id="name"
                  type="text"
                  class="form-control-v2"
                  v-model="role.name"
                  placeholder="Название роли на английском языке без пробелов"
                  :disabled="loading"
                  required
                  ></b-form-input>
              </b-form-group>
            </div>
           </div>

          <div class="row">
             <!-- Описание -->
            <div class="col-md-12">
              <b-form-group 
                label="Описание:"
                label-for="description" description=""
                :invalid-feedback="validations.description">
                <b-form-input 
                  id="description"
                  type="text"
                  class="form-control-v2"
                  v-model="role.description"
                  placeholder="Введите описание роли"
                  :disabled="loading"
                  required
                  ></b-form-input>
              </b-form-group>
            </div>
           </div>

          <loader :loading="loading"></loader>  
           <div class="row">
            <div class="col-md-12">
                <b-form-group 
                  label="Список возможностей:" 
                  label-for="permissions" 
                  data-bs-toggle="tooltip" 
                  description=""
                  :invalid-feedback="validations.permissions">
                <multiselect 
                  id="form_control"
                  v-model="permissions_selected" 
                  :options="permissions" 
                  label="description"
                  track-by="description"
                  :searchable="true" 
                  :close-on-select="false" 
                  :multiple="true"
                  :show-labels="true"
                  selectLabel="Нажмите для выбора" deselectLabel="Нажмите, чтобы отказаться от выбора"  
                  selectedLabel="Выбрана"
                  placeholder="Выберите список возможностей"
                  :loading="permissions_loading"
                  :disabled="loading"
                >
                <span slot="noResult">Список ролей пуст...</span>
                <span slot="noOptions">Список ролей загружается...</span>
                </multiselect>  
                </b-form-group>
              </div>
           </div>
        </div>
      </div>      

      <div class="row mt-5">
        <div class="col-md-12 text-center">
          <div>
             <b-button type="submit" variant="outline-primary" :disabled="loading">{{ type == "create" ? 'Создать' : 'Изменить' }} роль</b-button>
          </div>
          <p class="mb-0 text-center text-danger">{{ validations.submit }}</p>
        </div>
      </div>
    </b-form>

  </div>
</template>

<script>
// Ядро
import Vue from "vue";
// Для списков с поиском
import Multiselect from "vue-multiselect";

export default {
  components: {
    Multiselect,
  },
  data() {
    return {
      // Пермишны
      permissions: [],
      // Выбранные пермишны
      permissions_selected: null,
      // Редактируемая роль
      role_callback: null,
      // Пермишны редактируемой роли
      permissions_callback: null,
      // Роль
      role: {
          id: '',
          name: '',
          title: '',
          description: '',
          permissions: [],
      },
      // ВАЛИДАЦИЯ
      validations: {
        name: '',
        title: '',
        description: '',      
        permissions: '',   
        submit: '',
      },
      // 
      loading: false,
      permissions_loading: false,
    }
  },
  props: {
    // Тип (добавление / редактирование)
    type: {
      type: String,
      default: 'create'
    },
    // Данные роли при редактировании
    data: {
      type: String,
      default: '{}'
    },
    // Данные пермишнов роли
    data_permissions: {
      type: String,
      default: '{}'
    },
  },
  created() {
    // Получаем список ролей
    Vue.axios.get("/api/permission/list").then(response => {
        this.permissions = response.data;
    })

    if(this.type == 'edit') {
      this.role_callback = [];
      this.role_callback = JSON.parse(this.data);
      for(let type in this.role_callback) {
        if(this.role.hasOwnProperty(type)) {
          this.role[type] = this.role_callback[type];
        }
      }

      this.permissions_selected = JSON.parse(this.data_permissions);
    }
 
  },
  watch: {   
    // Выбранные пермишны
    permissions_selected(after, before) {
      this.role.permissions = [];
      after.forEach(element => 
       this.role.permissions.push(element.id)
      );
      this.validations.permissions = '';
    },         
  },
  methods: {
    //
    // Отправка формы
    onSubmit() {
      event.preventDefault();
      this.loading = true;
      
      if(this.type == 'edit') {
        Vue.axios.put('/roles/'+this.role.id, this.role).then(response => {
        if(response.data.status == 'fail') {
          this.validations = response.data.validations;
          this.loading = false;
        } else {
          window.location.href = '/roles/';//+response.data.user_id;
        }        
      }).catch(error => {  
        console.log(error);
        this.validations.submit = 'Что то пошло не так.';
        this.loading = false;
      })
      } else {
        Vue.axios.post('/roles', this.role).then(response => {
        if(response.data.status == 'fail') {
          this.validations = response.data.validations;
          this.loading = false;
        } else {
          window.location.href = '/roles/';//+response.data.user_id;
        }        
      }).catch(error => {  
        console.log(error);
        this.validations.submit = 'Что то пошло не так.';
        this.loading = false;
      })
      }
      
    },
  
    // Закрытие оповещения об успешном создании ведомости
    closeSuccessModal() {
      this.$bvModal.hide('success-modal');
    }
  }
}
</script>