<template>
  <div>
    <b-form @submit="onSubmit">
     
  
      <div class="row">
        <div class="col-md-12">
       
          
          <div class="row">
             <!-- Фамилия -->
            <div class="col-md-4">
              <b-form-group 
                label="Фамилия:"
                label-for="lastName" description=""
                :invalid-feedback="validations.lastName">
                <b-form-input 
                  id="lastName"
                  type="text"
                  class="form-control-v2"
                  v-model="user.lastName"
                  placeholder="Введите фамилию пользователя"
                  :disabled="loading"
                  required
                  ></b-form-input>
              </b-form-group>
            </div>
            <!-- Имя -->
            <div class="col-md-4">
              <b-form-group 
                label="Имя:"
                label-for="firstName" description=""
                :invalid-feedback="validations.firstName">
                <b-form-input 
                  id="firstName"
                  type="text"
                  class="form-control-v2"
                  v-model="user.firstName"
                  placeholder="Введите имя пользователя"
                  :disabled="loading"
                  required
                  ></b-form-input>
              </b-form-group>
            </div>
            <!-- Отчество -->
            <div class="col-md-4">
              <b-form-group 
                label="Отчество:"
                label-for="patronymic" description="(при налачии)"
                :invalid-feedback="validations.patronymic">
                <b-form-input 
                  id="patronymic"
                  type="text"
                  class="form-control-v2"
                  v-model="user.patronymic"
                  placeholder="Введите отчество пользователя"
                  :disabled="loading"
                  ></b-form-input>
              </b-form-group>
            </div>
           </div>

           <div class="row">
             <!-- Доступ к системе -->
              <div class="col-md-4">
              <b-form-group 
                label="Доступ к системе:"
                label-for="auth" description=""
                :invalid-feedback="validations.auth">
                  <b-form-checkbox id="auth" v-model="user.auth" name="check-button" switch :disabled="loading">
                    <b>{{ user.auth ? 'Пользователь будет иметь доступ к системе' : 'Пользователь не сможет войти в систему' }}</b>.
                  </b-form-checkbox>
              </b-form-group>
            </div>

            <!-- Уведомление -->
            <div class="col-md-4" v-if="user.auth && type != 'edit'">
              <b-form-group 
                label="Уведомление:"
                label-for="send" description=""
                :invalid-feedback="validations.send">
                  <b-form-checkbox id="send" v-model="user.send" name="check-button" switch :disabled="loading">
                    <b>{{ user.send ? 'Пользователю будет отправлено email уведомление для получения доступа к системе' : 'Пользователь сможет получить доступ только при смене пароля или при обращении к администратору' }}</b>.
                  </b-form-checkbox>
              </b-form-group>
            </div>

            <!-- email -->
            <div class="col-md-4" v-if="user.auth">
              <b-form-group 
                label="Адрес электронной почты:"
                label-for="email" description=""
                :invalid-feedback="validations.email">
                <b-form-input 
                  id="email"
                  type="text"
                  class="form-control-v2"
                  v-model="user.email"
                  placeholder="Введите адрес электронной почты"
                  :disabled="loading"
                  required
                  ></b-form-input>
              </b-form-group>
            </div>
           </div>

           <div class="row" v-if="type != 'create_modal'">

            <div class="col-md-6">
                <b-form-group 
                  label="Роль в системе:" 
                  label-for="roles" 
                  data-bs-toggle="tooltip" 
                  description=""
                  :invalid-feedback="validations.roles">
                  
                <multiselect 
                  id="form_control"
                  v-model="roles_selected" 
                  :options="roles" 
                  label="title"
                  track-by="name"
                  :searchable="true" 
                  :close-on-select="true" 
                  :multiple="true"
                  :show-labels="true"
                  selectLabel="Нажмите для выбора" deselectLabel="Нажмите, чтобы отказаться от выбора"  
                  selectedLabel="Выбрана"
                  placeholder="Выберите роли пользователя"
                  :loading="roles_loading"
                  :disabled="loading"
                >
                <span slot="noResult">Список ролей пуст...</span>
                <span slot="noOptions">Список ролей загружается...</span>
                </multiselect>  
                </b-form-group>
              </div>

              <div class="col-md-6">
              <figure v-for="role in roles_selected" :key="role.name">
                <blockquote class="blockquote mb-0">
                  <p class="mb-0">{{ role.title }}</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                  {{ role.description }}
                </figcaption>
              </figure>
              </div>

           </div>
          
       
        </div>
        <!-- <div class="col-md-3">
          <pre class="language-json"><code>{{ newstatement }}</code></pre>
        </div> -->
      </div>

       <loader :loading="loading"></loader>  

      <div class="row mt-5">
        <div class="col-md-12 text-center">
          <div>
             <b-button type="submit" variant="outline-primary" :disabled="loading">{{ type == "edit" ? 'Изменить данные' : 'Создать' }} пользователя</b-button>
          </div>
          <p class="mb-0 text-center text-danger">{{ validations.submit }}</p>
        </div>
      </div>
    </b-form>
  </div>
</template>

<script>
// Ядро
import Vue from "vue";
// Для списков с поиском
import Multiselect from "vue-multiselect";

export default {
  components: {
    Multiselect,
  },
  data() {
    return {
      // Роли
      roles: [],
      // Выбранные роли
      roles_selected: null,
      // Редактируемый пользователь
      user_callback: null,
      // Роли редактируемого пользователя
      roles_callback: null,
      // Пользователь
      user: {
          id: '',
          lastName: '',
          firstName: '',
          patronymic: '',
          roles: [],
          auth: true,
          email: '',
          send: true,
      },
      // ВАЛИДАЦИЯ
      validations: {
        lastName: '',
        firstName: '',
        patronymic: '',      
        roles: '',   
        auth: '',
        email: '',
        send: '',
        submit: '',
      },
      // 
      loading: false,
      roles_loading: false,
    }
  },
  props: {
    // Тип (добавление / редактирование)
    type: {
      type: String,
      default: 'create'
    },
    // Данные пользователя при редактировании
    data: {
      type: String,
      default: '{}'
    },
    // Данные ролей пользователя
    data_roles: {
      type: String,
      default: '{}'
    },
    // Статус авторизации
    status: {
      type: String,
      default: ''
    },
    // 
    callback: {},
    //callback_query: {},
    result:{},
  },
  created() {
     // Получаем список ролей
    Vue.axios.get("/api/roles/list").then(response => {
        this.roles = response.data;
    })

    if(this.type == 'edit') {
      this.user_callback = [];
      this.user_callback = JSON.parse(this.data);
      for(let type in this.user_callback) {
        if(this.user.hasOwnProperty(type)) {
          this.user[type] = this.user_callback[type];
        }
      }

      this.roles_selected = JSON.parse(this.data_roles);

      if(this.status == 'disabled') {
        this.user.auth = false;
        this.user.send = false;
      } else {
        this.user.auth = true;
        this.user.send = false;
      }
    }
 
  },
  watch: {   
    // Выбранные роли
    roles_selected(after, before) {
      this.user.roles = [];
      after.forEach(element => 
       this.user.roles.push(element.name)
      );
      this.validations.roles = '';
    },         
  },
  methods: {
    //
    // Отправка формы
    onSubmit() {
      event.preventDefault();
      this.loading = true;

      // Если пользователь не должен иметь возможность входа
      // затираем ранее введённый email
      if(!this.user.auth) {
        this.user.email = '';
        this.user.send = false; 
      }
      
      if(this.type == 'edit') {
        Vue.axios.put('/users/'+this.user.id, this.user).then(response => {

        if(response.data.status == 'fail') {
          this.validations = response.data.validations;
          this.loading = false;
        } else {
          window.location.href = '/users/';//+response.data.user_id;
        }        
        
      }).catch(error => {  
        console.log(error);
        
        this.validations.submit = 'Что то пошло не так.';
        this.loading = false;
      })
      } else {
        Vue.axios.post('/users', this.user).then(response => {

        if(response.data.status == 'fail') {
          this.validations = response.data.validations;
          this.loading = false;
        } else {
          if(this.type == 'create_modal') {
            this.$emit('update:callback', {
              value: this.user.firstName+' '+this.user.lastName+' '+this.user.patronymic,
              data: response.data.user,
            });  
            this.$emit('update:callback_query', this.user.firstName+' '+this.user.lastName+' '+this.user.patronymic);  
            this.$emit('update:result', true);  
          } else {
            window.location.href = '/users/';//+response.data.user_id;
          }
        }        
        
      }).catch(error => {  
        console.log(error);
        
        this.validations.submit = 'Что то пошло не так.';
        this.loading = false;
      })
      }
      
    },
  
    // Закрытие оповещения об успешном создании ведомости
    closeSuccessModal() {
      this.$bvModal.hide('success-modal');
    }
  }
}
</script>