<template>
  <div>
    <b-form @submit="onSubmit">
     
  
      <div class="row mt-3">
         <div class="form-group col-md-12 text-center mb-0">
            <big><strong> Протокол №</strong></big>
            <div style="width: 200px; display: inline-block;">
              <b-form-input 
                  id="number"
                  type="text"
                  class="form-control-v2"
                  v-model="protocol_callback.number"
                  placeholder="Введите номер протокола"
                  :disabled="loading"
                  required
              ></b-form-input>
            </div>
            <p class="text-danger" v-model="validations.number"></p>
          </div>
      </div>
      <h5 class="text-center">
        <strong>заседания государственной экзаменационной комиссии</strong>
      </h5>
      <div class="row">
        <div class="col-md-6">
              <b-form-group 
                label="Дата проведения:"
                label-for="date" description=""
                :invalid-feedback="validations.date">
                <b-form-input 
                  id="date"
                  type="date"
                  class="form-control-v2"
                  v-model="protocol_callback.date"
                  placeholder="Введите дату проведения"
                  :disabled="loading"
                  required
                  ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-3">
              <b-form-group 
                label="Время начала:"
                label-for="time_from" description=""
                :invalid-feedback="validations.time_from">
                <b-form-input 
                  id="time_from"
                  type="time"
                  class="form-control-v2"
                  v-model="protocol_callback.time_from"
                  placeholder="Введите время начала"
                  :disabled="loading"
                  required
                  ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-3">
              <b-form-group 
                label="Время окончания:"
                label-for="time_to" description=""
                :invalid-feedback="validations.time_to">
                <b-form-input 
                  id="time_to"
                  type="time"
                  class="form-control-v2"
                  v-model="protocol_callback.time_to"
                  placeholder="Введите время начала"
                  :disabled="loading"
                  required
                  ></b-form-input>
              </b-form-group>
            </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <p>
          по рассмотрению выпускной квалификационной работы(ВКР) студента 
        </p>
        <h2>{{ student_callback.fullName_rod }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <b-form-group 
            label="на тему:"
            label-for="theme" description=""
            :invalid-feedback="validations.theme">
            <b-form-input 
              id="theme"
              type="text"
              class="form-control-v2"
              v-model="protocol_callback.theme"
              placeholder="Введите тему ВКР"
              :disabled="loading"
              required
            ></b-form-input>
          </b-form-group>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="mb-1">Присутствовали: комиссия ГЭК, утвержденная приказом от <u> {{ meeting_callback.normal_date_document }} г. </u> от <u> {{ meeting_callback.number_document }} </u></p>
          <p class="mb-0">Председатель комиссии:</p>
          <p class="mb-1 indent-25"><a :href="'/users/'+chairman_callback.user_id" target="_blank">{{ chairman_callback.fullName }}</a></p>
          <p class="mb-0">Члены комиссии:</p>
          <p class="mb-1 indent-25" v-for="person in persons_callback" :key="person.id"><a :href="'/users/'+person.user_id" target="_blank">{{ person.fullName }}</a></p>
        </div>
      </div>

      <p class="mb-1 mt-3">Выпускная квалификационная работы выполнена:</p>
      <div class="row">
        <div class="col-md-6">
           <b-form-group 
            label="Под руководством"
            label-for="adviser" description=""
            :invalid-feedback="validations.adviser">
            <b-form-input 
              id="adviser"
              type="text"
              class="form-control-v2"
              v-model="protocol_callback.adviser"
              placeholder="Введите ФИО руководителя ВКР"
              :disabled="loading"
              required
            ></b-form-input>
          </b-form-group>
        </div>
        <div class="col-md-6">
           <b-form-group 
            label="При консультации:"
            label-for="consultation" description=""
            :invalid-feedback="validations.consultation">
            <b-form-input 
              id="consultation"
              type="text"
              class="form-control-v2"
              v-model="protocol_callback.consultation"
              placeholder="Введите ФИО консультирующих лиц"
              :disabled="loading"
              required
            ></b-form-input>
          </b-form-group>
        </div>
      </div>

      <h5 class="text-center mt-3">В ГЭК представлены следующие материалы:</h5>

      <!-- <b-list-group>
          <draggable v-model="protocol_callback.materials" v-bind="dragOptions" :disabled="loading" group="materials">
           <transition-group type="transition" name="flip-list">
             <b-list-group-item button v-for="(material, index) in protocol_callback.materials" :key="index"> -->
      <div class="row mt-1" v-for="(material, index) in protocol_callback.materials" :key="'material_'+index">
        <div class="col-md-1 text-center d-flex" style="justify-content: center; align-items: center;">
          {{ index + 1 }}
        </div>
        <div class="col-md-9">
          <b-form-input 
              :id="'material_'+index"
              type="text"
              class="form-control-v2"
              v-model="protocol_callback.materials[index]"
              placeholder=""
              :disabled="loading"
              required
            ></b-form-input>
        </div>
        <div class="col-md-2">
          <b-button variant="outline-danger" title="Удалить материал" @click="deleteItem(index)">-</b-button>
        </div>
      </div>
                  <!-- </b-list-group-item>
           </transition-group>
          </draggable>                    
        </b-list-group> -->

       <div class="row mt-3">
        <div class="col-md-12 text-center">
              <b-button variant="outline-primary" title="Добавить материал" @click="pushNew()">+</b-button>
        </div>
      </div>

      <h5 class="mt-3 mb-3">После сообщения о выполненной работе обучающемуся  были заданы следующие вопросы:</h5>

      <div class="row mt-1" v-for="(question, index2) in protocol_callback.questions" :key="'question_'+index2">
        <div class="col-md-1 text-center d-flex" style="justify-content: center; align-items: center;">
          {{ index2 + 1 }}
        </div>
        <div class="col-md-9">
          <b-form-input 
              :id="'question_'+index2"
              type="text"
              class="form-control-v2"
              v-model="protocol_callback.questions[index2]"
              placeholder=""
              :disabled="loading"
              required
            ></b-form-input>
        </div>
        <div class="col-md-2">
          <b-button variant="outline-danger" title="Удалить вопрос" @click="deleteItemV(index2)">-</b-button>
        </div>
      </div>
       <div class="row mt-3">
        <div class="col-md-12 text-center">
              <b-button variant="outline-primary" title="Добавить вопрос" @click="pushNewV()">+</b-button>
        </div>
      </div>

      <h5 class="mt-5 mb-3 text-center">РЕШЕНИЕ ГЭК:</h5>
      <p class="mb-0">1. Утвердить результаты сдачи государственного междисциплионарного экзамена(при наличии)</p>
      <p class="mb-0">2. Признать, что студент(ка) <u> {{ student_callback.fullName }} </u> выполнила и защитила ВКР с оценкой
       <b-button :variant="protocol_callback.eval == 2 ? 'outline-primary active' : 'outline-primary'" @click="setEval(2)">2</b-button>
        <b-button :variant="protocol_callback.eval == 3 ? 'outline-primary active' : 'outline-primary'" @click="setEval(3)">3</b-button>
        <b-button :variant="protocol_callback.eval == 4 ? 'outline-primary active' : 'outline-primary'" @click="setEval(4)">4</b-button>
        <b-button :variant="protocol_callback.eval == 5 ? 'outline-primary active' : 'outline-primary'" @click="setEval(5)">5</b-button>
      </p>
      <p class="mb-0">3. Присвоить студенту(ке) <u> {{ student_callback.fullName_dat }} </u> квалификацию <u> {{ meeting_callback.qualification }} </u> по направлению подготовки(специальности) <u>{{ group_callback.trend }}</u>.</p>
      <p class="mb-0">4. Выдать 
        <b-form-checkbox class="d-inline" id="excelent" v-model="protocol_callback.excelent" name="check-button" switch :disabled="loading">
                    <b>{{ protocol_callback.excelent ? 'С отличием' : 'Без отметки "С отличием"(пустое поле)' }}</b>
        </b-form-checkbox>
      .</p>
      <p class="mb-0">5. Отметить, что </p>
      <b-form-textarea
      id="comment"
      v-model="protocol_callback.comment"
      :disabled="loading"
      placeholder=""
      rows="3"
      max-rows="6"
    ></b-form-textarea>

    <h5 class="mt-3 text-center">Председатель ГЭК: <a :href="'/users/'+chairman_callback.user_id" target="_blank">{{ chairman_callback.fullName }}</a></h5>
    <h5 class="text-center">Секретарь ГЭК: <a :href="'/users/'+secretary_callback.user_id" target="_blank">{{ secretary_callback.fullName }}</a></h5>



       <loader :loading="loading"></loader>  

      <div class="row mt-5">
        <div class="col-md-12 text-center">
          <div>
             <b-button type="submit" variant="outline-primary" :disabled="loading">Сохранить</b-button>
          </div>
          <p class="mb-0 text-center text-danger">{{ validations.submit }}</p>
        </div>
      </div>
    </b-form>
  </div>
</template>

<script>
// Ядро
import Vue from "vue";
// Для списков с поиском
import Multiselect from "vue-multiselect";
// Для Drag'And'Drop сортировки списков
import draggable from "vuedraggable";

export default {
  components: {
    Multiselect,
    draggable
  },
  data() {
    return {
      //
      protocol_callback: null,
      student_callback: null,
      meeting_callback: null,
      chairman_callback: null,
      secretary_callback: null,
      persons_callback: null,
      group_callback: null,
      // ВАЛИДАЦИЯ
      validations: {
        number: '',   
        date: '',   
        time_from: '',
        time_to: '',
        date_document: '',
        number_document: '',
        theme: '',
        consultation: '',   
        adviser_fullName: '',   
        feedback_adviser: '',   
        resume: '',   
        min: '',   
        questions: '',   
        materials: '',   
        eval: '',   
        dop_questions: '',    
      },
      // 
      loading: false,
      dragOptions: {
        animation: 200,
        group: "description",
        disabled: false,
        ghostClass: "ghost"
      },
     
    }
  },
  props: {
    //
    meeting: {
      type: String,
      default: '{}'
    },
    protocol: {
      type: String,
      default: '{}'
    },
    student: {
      type: String,
      default: '{}'
    },
    chairman: {
      type: String,
      default: '{}'
    },
    secretary: {
      type: String,
      default: '{}'
    },
    persons: {
      type: String,
      default: '{}'
    },
    group: {
      type: String,
      default: '{}'
    },
  },
  created() {
    //
     this.meeting_callback = JSON.parse(this.meeting);
     this.protocol_callback = JSON.parse(this.protocol);
     this.student_callback = JSON.parse(this.student);
     this.chairman_callback = JSON.parse(this.chairman);
     this.secretary_callback = JSON.parse(this.secretary);
     this.persons_callback = JSON.parse(this.persons);
     this.group_callback = JSON.parse(this.group);
     this.protocol_callback.materials = JSON.parse(this.protocol_callback.materials);
     this.protocol_callback.questions = JSON.parse(this.protocol_callback.questions);
     this.protocol_callback.excelent = this.protocol_callback.excelent == 1 ? true : false;

  },
  methods: {
    pushNew() {
      this.protocol_callback.materials.push('');
    },
    deleteItem(index) {
      this.protocol_callback.materials.splice(index, 1);
    },
    pushNewV() {
      this.protocol_callback.questions.push('');
    },
    deleteItemV(index) {
      this.protocol_callback.questions.splice(index, 1);
    },
    setEval(ev) {
      this.protocol_callback.eval = ev;
      console.log(ev+'   -   '+this.protocol_callback.eval);
    },
    //
    // Отправка формы
    onSubmit() {
      event.preventDefault();
      this.loading = true;
     
        Vue.axios.post('/meetings/'+this.meeting_callback.id+'/report/'+this.student_callback.user_id, this.protocol_callback).then(response => {
        if(response.data.status == 'fail') {
          this.validations = response.data.validations;
          this.loading = false;
        } else {
          window.location.href = '/meetings/'+this.meeting_callback.id;
        }        
        
      }).catch(error => {  
        console.log(error);
        
        this.validations.submit = 'Что то пошло не так.';
        this.loading = false;
      })
      
      
    },
  
    
  }
}
</script>