<template>
  <div>
    <b-form @submit="onSubmit">
     
      <div class="row mt-3">
         <div class="form-group col-md-12 text-center mb-0">
            <big><strong> Решение</strong></big>
          </div>
      </div>
      <h5 class="text-center">
        <strong>государственной экзаменационной комиссии</strong>
      </h5>
      <div class="row mt-3">
        <div class="col-md-12">
          <p>по направлению подготовки (специальности): <strong>{{ group_callback.trend }}</strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
              <b-form-group 
                label="от:"
                label-for="date" description=""
                :invalid-feedback="validations.date">
                <b-form-input 
                  id="date"
                  type="date"
                  class="form-control-v2"
                  v-model="protocol_callback.date"
                  placeholder="Введите дату проведения"
                  :disabled="loading"
                  required
                  ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-6">
              <b-form-group 
                label="№"
                label-for="number" description=""
                :invalid-feedback="validations.number">
                <b-form-input 
                  id="number"
                  type="text"
                  class="form-control-v2"
                  v-model="protocol_callback.number"
                  placeholder=""
                  :disabled="loading"
                  required
                  ></b-form-input>
              </b-form-group>
            </div>
      </div>

       <div class="row mt-3 mb-3">
        <div class="col-md-12 mb-3">
          <p class="mb-0">На основании положительных результатов государственной аттестации:</p>
          <p v-if="meeting_callback.report" class="mb-0 indent-25">{{ report_protocol_text }}</p>
          <p v-if="meeting_callback.exam" class="mb-0 indent-25">{{ exam_protocol_text }}</p>
        </div>
        <div class="col-md-12">
          <h5 class="mb-1">Государственная экзаменационная комиссия постановляет:</h5>
          <b-form-group 
                :label="'1. Присвоить '+student_callback.fullName_dat+' квалификацию  (степень)'"
                label-for="specialty" description=""
                :invalid-feedback="validations.specialty">
                <b-form-input 
                  id="specialty"
                  type="text"
                  class="form-control-v2"
                  v-model="protocol_callback.specialty"
                  placeholder=""
                  :disabled="loading"
                  required
                  ></b-form-input>
              </b-form-group>
          <p class="mb-1">по направлению подготовки (специальности) <strong>{{ group_callback.trend }}</strong></p>
          <p class="mb-1">2. Выдать {{ student_callback.fullName_dat }} диплом о высшем образовании (высшем профессиональном образовании)  
            государственного образца <strong>{{ excelent ? 'с отличием' : '' }}</strong>.
          </p>
        </div>
      </div>

       <div class="row">
        <div class="col-md-12">
          <h5 class="mb-0">За решение проголосовало:</h5>
          <p class="mb-0"><strong>За {{ yes }}</strong> членов комиссии</p>
          <p class="mb-3"><strong>Против {{ no }}</strong> членов комиссии</p>

          <p class="mb-0">Председатель комиссии:</p>
          <p class="mb-1 indent-25"><a :href="'/users/'+chairman_callback.user_id" target="_blank">{{ chairman_callback.fullName }}</a></p>
          <p class="mb-0">Члены комиссии:</p>
          <p class="mb-1 indent-25" v-for="person in persons_callback" :key="person.id"><a :href="'/users/'+person.user_id" target="_blank">{{ person.fullName }}</a></p>
          <p class="mb-0">Секретарь комиссии:</p>
          <p class="mb-1 indent-25"><a :href="'/users/'+secretary_callback.user_id" target="_blank">{{ secretary_callback.fullName }}</a></p>
        </div>
      </div>

       <loader :loading="loading"></loader>  

      <div class="row mt-5">
        <div class="col-md-12 text-center">
          <div>
             <b-button type="submit" variant="outline-primary" :disabled="loading">Сохранить</b-button>
          </div>
          <p class="mb-0 text-center text-danger">{{ validations.submit }}</p>
        </div>
      </div>
    </b-form>
  </div>
</template>

<script>
// Ядро
import Vue from "vue";
// Для списков с поиском
import Multiselect from "vue-multiselect";
// Для Drag'And'Drop сортировки списков
import draggable from "vuedraggable";

export default {
  components: {
    Multiselect,
    draggable
  },
  data() {
    return {
      //
      protocol_callback: null,
      student_callback: null,
      meeting_callback: null,
      chairman_callback: null,
      secretary_callback: null,
      persons_callback: null,
      group_callback: null,
      // ВАЛИДАЦИЯ
      validations: {
        number: '',   
        date: '',   
        time_from: '',
        time_to: '',
        //date_document: '',
        //number_document: '',
        //theme: '',
        //consultation: '',   
        //adviser_fullName: '',   
        //feedback_adviser: '',   
        //resume: '',   
        //min: '',   
        questions: '',   
        materials: '',   
        eval: '',
        review: '',   
        dop_questions: '',    
      },
      // 
      loading: false,
      dragOptions: {
        animation: 200,
        group: "description",
        disabled: false,
        ghostClass: "ghost"
      },
     
    }
  },
  props: {
    //
    meeting: {
      type: String,
      default: '{}'
    },
    protocol: {
      type: String,
      default: '{}'
    },
    student: {
      type: String,
      default: '{}'
    },
    chairman: {
      type: String,
      default: '{}'
    },
    secretary: {
      type: String,
      default: '{}'
    },
    persons: {
      type: String,
      default: '{}'
    },
    group: {
      type: String,
      default: '{}'
    },
    report_protocol_text: {
      type: String,
      default: ''
    },
    exam_protocol_text: {
      type: String,
      default: ''
    },
    excelent: {
      type: String,
      default: ''
    },
    yes: {
      type: String,
      default: ''
    },
    no: {
      type: String,
      default: ''
    }
  },
  created() {
    //
     this.meeting_callback = JSON.parse(this.meeting);
     this.protocol_callback = JSON.parse(this.protocol);
     this.student_callback = JSON.parse(this.student);
     this.chairman_callback = JSON.parse(this.chairman);
     this.secretary_callback = JSON.parse(this.secretary);
     this.persons_callback = JSON.parse(this.persons);
     this.group_callback = JSON.parse(this.group);
     //this.protocol_callback.materials = JSON.parse(this.protocol_callback.materials);
     //this.protocol_callback.questions = JSON.parse(this.protocol_callback.questions);
     //this.protocol_callback.excelent = this.protocol_callback.excelent == 1 ? true : false;

  },
  methods: {
    pushNew() {
      this.protocol_callback.materials.push('');
    },
    deleteItem(index) {
      this.protocol_callback.materials.splice(index, 1);
    },
    pushNewV() {
      this.protocol_callback.questions.push('');
    },
    deleteItemV(index) {
      this.protocol_callback.questions.splice(index, 1);
    },
    setEval(ev) {
      this.protocol_callback.eval = ev;
      console.log(ev+'   -   '+this.protocol_callback.eval);
    },
    //
    // Отправка формы
    onSubmit() {
      event.preventDefault();
      this.loading = true;
     
        Vue.axios.post('/meetings/'+this.meeting_callback.id+'/solution/'+this.student_callback.user_id, this.protocol_callback).then(response => {
        if(response.data.status == 'fail') {
          this.validations = response.data.validations;
          this.loading = false;
        } else {
          window.location.href = '/meetings/'+this.meeting_callback.id;
        }        
        
      }).catch(error => {  
        console.log(error);
        
        this.validations.submit = 'Что то пошло не так.';
        this.loading = false;
      })
      
      
    },
  
    
  }
}
</script>