<template>
  <div>
    <b-form @submit="onSubmit">
     
  
      <div class="row">
        <div class="col-md-12">
      
          <div class="row">
            <!-- Название подразделения -->
            <div class="col-md-6">
              <b-form-group 
                label="Название группы:"
                label-for="name" description=""
                :invalid-feedback="validations.name">
                <b-form-input 
                  id="name"
                  type="text"
                  class="form-control-v2"
                  v-model="group.name"
                  placeholder="Введите название группы"
                  :disabled="loading"
                  required
                  ></b-form-input>
              </b-form-group>
            </div>

            <div class="col-md-6">
                <b-form-group 
                  label="Кафедра:" 
                  label-for="chair" 
                  data-bs-toggle="tooltip" 
                  description=""
                  :invalid-feedback="validations.chair">
                  
                <multiselect 
                  id="chair"
                  v-model="chair_selected" 
                  :options="chairs" 
                  label="name"
                  track-by="id"
                  :searchable="false" 
                  :close-on-select="true" 
                  :multiple="false"
                  :show-labels="true"
                  selectLabel="Нажмите для выбора" deselectLabel="Нажмите, чтобы отказаться от выбора"  
                  selectedLabel="Выбрана"
                  placeholder="Выберите кафедру"
                  :loading="chair_loading"
                  :disabled="loading"
                  required
                >
                <span slot="noResult">Список пуст...</span>
                <span slot="noOptions">Список загружается...</span>
                </multiselect>  
                </b-form-group>
              </div>         
           </div>

          <div class="row">
            <div class="col-md-6">
                <b-form-group 
                  label="Уровень образования:" 
                  label-for="levels" 
                  data-bs-toggle="tooltip" 
                  description=""
                  :invalid-feedback="validations.level">
                  
                <multiselect 
                  id="levels"
                  v-model="level_selected" 
                  :options="levels" 
                  label="name"
                  track-by="slug"
                  :searchable="false" 
                  :close-on-select="true" 
                  :multiple="false"
                  :show-labels="true"
                  selectLabel="Нажмите для выбора" deselectLabel="Нажмите, чтобы отказаться от выбора"  
                  selectedLabel="Выбрана"
                  placeholder="Выберите уровень образования"
                  :loading="level_loading"
                  :disabled="loading"
                  required
                >
                <span slot="noResult">Список пуст...</span>
                <span slot="noOptions">Список загружается...</span>
                </multiselect>  
                </b-form-group>
              </div>

              <div class="col-md-6">
                <b-form-group 
                  label="Форма обучения:" 
                  label-for="form" 
                  data-bs-toggle="tooltip" 
                  description=""
                  :invalid-feedback="validations.form">
                  
                <multiselect 
                  id="form"
                  v-model="form_selected" 
                  :options="forms" 
                  label="name"
                  track-by="slug"
                  :searchable="false" 
                  :close-on-select="true" 
                  :multiple="false"
                  :show-labels="true"
                  selectLabel="Нажмите для выбора" deselectLabel="Нажмите, чтобы отказаться от выбора"  
                  selectedLabel="Выбрана"
                  placeholder="Выберите уровень образования"
                  :loading="form_loading"
                  :disabled="loading"
                  required
                >
                <span slot="noResult">Список пуст...</span>
                <span slot="noOptions">Список загружается...</span>
                </multiselect>  
                </b-form-group>
              </div>
         
           </div>

          <div class="row">
            <!-- Направление подготовки -->
            <div class="col-md-4">
              <b-form-group 
                label="Направление подготовки:"
                label-for="trend" description=""
                :invalid-feedback="validations.trend">
                <b-form-input 
                  id="trend"
                  type="text"
                  class="form-control-v2"
                  v-model="group.trend"
                  placeholder="Введите название направления подготовки"
                  :disabled="loading"
                  required
                  ></b-form-input>
              </b-form-group>
            </div>      
             <!-- Профиль подготовки -->
            <div class="col-md-4">
              <b-form-group 
                label="Профиль подготовки:"
                label-for="profile" description=""
                :invalid-feedback="validations.profile">
                <b-form-input 
                  id="profile"
                  type="text"
                  class="form-control-v2"
                  v-model="group.profile"
                  placeholder="Введите название профиля подготовки"
                  :disabled="loading"
                  required
                  ></b-form-input>
              </b-form-group>
            </div>      
            <!-- Год окончания обучения -->
            <div class="col-md-4">
              <b-form-group 
                label="Год окончания обучения:"
                label-for="graduation_year" description=""
                :invalid-feedback="validations.graduation_year">
                <b-form-input 
                  id="profile"
                  type="number"
                  class="form-control-v2"
                  v-model="group.graduation_year"
                  placeholder="Введите год окончания обучения"
                  :disabled="loading"
                  required
                  ></b-form-input>
              </b-form-group>
            </div>    
          </div>

          <div class="row">
             <user-select
                class="col-md-12"
                label="Список студентов:"
                :user.sync="students"
                :invalid-feedback.sync="validations.students"
                :disabled="loading"
                :taggable="true"
                :multiple="true"
                :close_on_select="false"
              ></user-select>   
          </div>

        </div>
        <!-- <div class="col-md-3">
          <pre class="language-json"><code>{{ newstatement }}</code></pre>
        </div> -->
      </div>

       <loader :loading="loading"></loader>  

      <div class="row mt-5">
        <div class="col-md-12 text-center">
          <div>
             <b-button type="submit" variant="outline-primary" :disabled="loading">{{ type == "create" ? 'Добавить группу' : 'Сохранить группу' }} </b-button>
          </div>
          <p class="mb-0 text-center text-danger">{{ validations.submit }}</p>
        </div>
      </div>
    </b-form>
  </div>
</template>

<script>
// Ядро
import Vue from "vue";
// Для списков с поиском
import Multiselect from "vue-multiselect";

export default {
  components: {
    Multiselect,
  },
  data() {
    return {
      // 
      levels: [],
      // 
      level_selected: null,
      //
      level_loading: false,
      // 
      forms: [],
      // 
      form_selected: null,
      //
      form_loading: false,
      // 
      chairs: [],
      // 
      chair_selected: null,
      //
      chair_loading: false,
      //
      students: [], 
      //
      group_callback: null,
      // Пользователь
      group: {
          id: '',
          chair_id: null,
          level: '',
          name: '',
          trend: '',
          profile: null,
          graduation_year: null,
          form: null,
          students: [],
      },
      // ВАЛИДАЦИЯ
      validations: {
        chair: '',   
        level: '',   
        name: '',
        trend: '',
        profile: '',
        graduation_year: '',
        form: '',
        students: '',   
      },
      // 
      loading: false,
     
    }
  },
  props: {
    // Тип (добавление / редактирование)
     type: {
       type: String,
       default: 'create'
     },
    //
    chair: {
      type: String,
      default: '{}'
    },
    //
    level: {
      type: String,
      default: '{}'
    },
    //
    form: {
      type: String,
      default: '{}'
    },
    // 
    data: {
      type: String,
      default: '{}'
    },
    //
    data_students: {
      type: String,
      default: '{}'
    },
    //
  },
  created() {
     //
    Vue.axios.get("/api/group/levels").then(response => {
        this.levels = response.data;
    })
    //
    Vue.axios.get("/api/group/forms").then(response => {
        this.forms = response.data;
    })
    //
    Vue.axios.get("/api/sub/chairs").then(response => {
        this.chairs = response.data;
    })

    if(this.type == 'edit') {
      this.level_selected = JSON.parse(this.level);
      this.chair_selected = JSON.parse(this.chair);
      this.form_selected = JSON.parse(this.form);
      this.students = JSON.parse(this.data_students);
      this.group = JSON.parse(this.data);    
      }
  },
  watch: {   
    // 
    level_selected(after, before) {
      this.group.level = after == null ? null : after.slug
    }, 
    //
    form_selected(after, before) {
      this.group.form = after == null ? null : after.slug
    }, 
    //
    chair_selected(after, before) {
      this.group.chair_id = after == null ? null : after.id
    },
    students(after, before) {
      this.group.students = [];
      after.forEach(element => 
       this.group.students.push(element.id)
      );
      this.validations.students  = '';
    }, 
  },
  methods: {
    //
    // Отправка формы
    onSubmit() {
      event.preventDefault();
      this.loading = true;
     
       if(this.type == 'edit') {
        Vue.axios.put('/groups/'+this.group.id, this.group).then(response => {

        if(response.data.status == 'fail') {
          this.validations = response.data.validations;
          this.loading = false;
        } else {
          window.location.href = '/groups/'+this.group.id;//+response.data.user_id;
        }        
        
      }).catch(error => {  
        console.log(error);
        this.validations.submit = 'Что то пошло не так.';
        this.loading = false;
      })
      } else {
        Vue.axios.post('/groups', this.group).then(response => {
        if(response.data.status == 'fail') {
          this.validations = response.data.validations;
          this.loading = false;
        } else {
          window.location.href = '/groups/';
        }        
        
      }).catch(error => {  
        console.log(error);
        
        this.validations.submit = 'Что то пошло не так.';
        this.loading = false;
      })
      }
      
    },
  
    
  }
}
</script>