<template>
  <div>
    <b-form @submit="onSubmit">
     
  
      <div class="row">
        <div class="col-md-12">
      
         <table class="table table-bordered table-hover">
           <tbody>
             <tr v-for="(student, index) in students" :key="student.user_id">
               <th style="width: 100px;"><h3 class="text-center">{{ index + 1 }}</h3></th>
               <td>
                 <div class="row">
                   <div class="col-md-5">
                    <h3>{{ student.fullName }}</h3>
                 <div>
                    <b-form-group 
                      label="Допуск:"
                      :label-for="'allow_'+student.user_id" description=""
                      :invalid-feedback="validations.allow"
                      :click="checkFIO(student)">
                        <b-form-checkbox :id="'allow_'+student.user_id" v-model="student.allow" name="check-button" switch :disabled="loading">
                          <b>{{ student.allow ? 'Студент допущен' : 'Студент не допущен' }}</b>.
                        </b-form-checkbox>
                    </b-form-group>
                 </div>
                 <div v-if="student.allow">
                  <div class="row">
                    <!-- Доступ к системе -->
                    <div class="col-md-12" v-if="!student.auth_lock">
                      <b-form-group 
                        label="Доступ к системе:"
                        :label-for="'auth_'+student.user_id" description=""
                        :invalid-feedback="validations.auth">
                          <b-form-checkbox :id="'auth_'+student.user_id" v-model="student.auth" name="check-button" switch :disabled="loading">
                            <b>{{ student.auth ? 'Пользователь будет иметь доступ к системе' : 'Пользователь не сможет войти в систему' }}</b>.
                          </b-form-checkbox>
                      </b-form-group>
                    </div>

                     <div class="col-md-12" v-if="student.auth_lock">
                      <b-form-group 
                        label="Доступ к системе:"
                        :label-for="'auth_'+student.user_id" description=""
                        :invalid-feedback="validations.auth">
                          <b-form-checkbox :id="'auth_'+student.user_id" v-model="student.auth" name="check-button" switch :disabled="true">
                            <b>{{ student.auth ? 'Пользователь имеет доступ к системе' : 'Пользователь не сможет войти в систему' }}</b>.
                          </b-form-checkbox>
                      </b-form-group>
                    </div>
                    </div>
                    <div class="row">
                      <!-- Уведомление -->
                    <div class="col-md-12" v-if="student.auth && !student.auth_lock">
                      <b-form-group 
                        label="Уведомление:"
                        :label-for="'send_'+student.user_id" description=""
                        :invalid-feedback="validations.send">
                          <b-form-checkbox :id="'send_'+student.user_id" v-model="student.send" name="check-button" switch :disabled="loading">
                            <b>{{ student.send ? 'Пользователю будет отправлено email уведомление для получения доступа к системе' : 'Пользователь сможет получить доступ только при смене пароля или при обращении к администратору' }}</b>.
                          </b-form-checkbox>
                      </b-form-group>
                    </div>

                    <!-- email -->
                    <div class="col-md-12" v-if="student.auth && !student.auth_lock">
                      <b-form-group 
                        label="Адрес электронной почты:"
                        :label-for="'email_'+student.user_id" description=""
                        :invalid-feedback="validations.email">
                        <b-form-input 
                          :id="'email_'+student.user_id"
                          type="text"
                          class="form-control-v2"
                          v-model="student.email"
                          placeholder="Введите адрес электронной почты"
                          :disabled="loading"
                          required
                          ></b-form-input>
                      </b-form-group>
                    </div>
                  </div>
                 </div>
                   </div>
                   <div class="col-md-7" v-if="student.allow">
                      <b-form-group 
                        label="ФИО в родительном падеже:"
                        :label-for="'fullName_rod_'+student.user_id" 
                        description="Пример: Иванова Ивана Ивановича"
                        :invalid-feedback="validations.name">
                        <b-form-input 
                          :id="'fullName_rod_'+student.user_id"
                          type="text"
                          class="form-control-v2"
                          v-model="student.fullName_rod"
                          placeholder="Введите ФИО в родительном падеже"
                          :disabled="loading"
                          required
                          ></b-form-input>
                      </b-form-group>
                       <b-form-group 
                        label="ФИО в дательном падеже:"
                        :label-for="'fullName_dat_'+student.user_id" 
                        description="Пример: Иванову Ивану Ивановичу"
                        :invalid-feedback="validations.name">
                        <b-form-input 
                          :id="'fullName_dat_'+student.user_id"
                          type="text"
                          class="form-control-v2"
                          v-model="student.fullName_dat"
                          placeholder="Введите ФИО в дательном падеже"
                          :disabled="loading"
                          required
                          ></b-form-input>
                      </b-form-group>
                      <b-form-group 
                        label="ФИО в творительном падеже:"
                        :label-for="'fullName_tv_'+student.user_id" 
                        description="Пример: Ивановым Иваном Ивановичем"
                        :invalid-feedback="validations.name">
                        <b-form-input 
                          :id="'fullName_tv_'+student.user_id"
                          type="text"
                          class="form-control-v2"
                          v-model="student.fullName_tv"
                          placeholder="Введите ФИО в творительном падеже"
                          :disabled="loading"
                          required
                          ></b-form-input>
                      </b-form-group>
                   </div>
                 </div>
               </td>
             </tr>
           </tbody>
         </table>

        </div>
        <!-- <div class="col-md-3">
          <pre class="language-json"><code>{{ newstatement }}</code></pre>
        </div> -->
      </div>

       <loader :loading="loading"></loader>  

      <div class="row mt-5">
        <div class="col-md-12 text-center">
          <div>
             <b-button type="submit" variant="outline-primary" :disabled="loading">Сохранить</b-button>
          </div>
          <p class="mb-0 text-center text-danger">{{ validations.submit }}</p>
        </div>
      </div>
    </b-form>
  </div>
</template>

<script>
// Ядро
import Vue from "vue";
// Для списков с поиском
import Multiselect from "vue-multiselect";

export default {
  components: {
    Multiselect,
  },
  data() {
    return {
      //
      meeting_callback: null,
      //
      students: [],
      // ВАЛИДАЦИЯ
      validations: {
        chair: '',   
        level: '',   
        name: '',
        trend: '',
        profile: '',
        graduation_year: '',
        form: '',
        students: '',   
      },
      // 
      loading: false,
     
    }
  },
  props: {
    //
    meeting: {
      type: String,
      default: '{}'
    },
  },
  created() {
    //
     this.meeting_callback = JSON.parse(this.meeting);
     //
    Vue.axios.get("/api/meeting/"+this.meeting_callback.id+"/students").then(response => {
        this.students = response.data;
    })
  },
  methods: {
    checkFIO(student) {
      if(!student.allow_lock) {
        var rn = new RussianName(student.fullName);
        var rnameRod = rn.fullName(rn.gcaseRod); // Дательный падеж
        student.fullName_rod = rnameRod;
        var rnameDat = rn.fullName(rn.gcaseDat); // Дательный падеж
        student.fullName_dat = rnameDat;
        var rnameTv = rn.fullName(rn.gcaseIns); // Дательный падеж
        student.fullName_tv = rnameTv;
      }
    },
    //
    // Отправка формы
    onSubmit() {
      event.preventDefault();
      this.loading = true;
     
        Vue.axios.post('/meetings/'+this.meeting_callback.id+'/students', this.students).then(response => {
        if(response.data.status == 'fail') {
          this.validations = response.data.validations;
          this.loading = false;
        } else {
          window.location.href = '/meetings/'+this.meeting_callback.id;
        }        
        
      }).catch(error => {  
        console.log(error);
        
        this.validations.submit = 'Что то пошло не так.';
        this.loading = false;
      })
      
      
    },
  
    
  }
}
</script>