<template>
  <div>
    <b-form @submit="onSubmit">
     
  
      <div class="row">
        <div class="col-md-12">
       
          
          <div class="row">
            <div class="col-md-6">
                <b-form-group 
                  label="Уровень подразделения:" 
                  label-for="roles" 
                  data-bs-toggle="tooltip" 
                  description=""
                  :invalid-feedback="validations.type">
                  
                <multiselect 
                  id="form_control"
                  v-model="type_selected" 
                  :options="types" 
                  label="name"
                  track-by="slug"
                  :searchable="false" 
                  :close-on-select="true" 
                  :multiple="false"
                  :show-labels="true"
                  selectLabel="Нажмите для выбора" deselectLabel="Нажмите, чтобы отказаться от выбора"  
                  selectedLabel="Выбрана"
                  placeholder="Выберите уровень"
                  :loading="types_loading"
                  :disabled="loading"
                  required
                >
                <span slot="noResult">Список подразделений пуст...</span>
                <span slot="noOptions">Список подразделений загружается...</span>
                </multiselect>  
                </b-form-group>
              </div>

            <!-- Название подразделения -->
            <div class="col-md-6">
              <b-form-group 
                label="Название подразделения:"
                label-for="name" description=""
                :invalid-feedback="validations.name">
                <b-form-input 
                  id="name"
                  type="text"
                  class="form-control-v2"
                  v-model="sub.name"
                  placeholder="Введите название подразделения"
                  :disabled="loading"
                  required
                  ></b-form-input>
              </b-form-group>
            </div>
         
           </div>

          <div class="row">
            <div class="col-md-6">
              <b-form-group 
                label="Должность руководителя подразделения:"
                label-for="head_degree" description=""
                :invalid-feedback="validations.head_degree">
                <b-form-input 
                  id="head_degree"
                  type="text"
                  class="form-control-v2"
                  v-model="sub.head_degree"
                  placeholder="Введите название руководящей должности"
                  :disabled="loading"
                  required
                  ></b-form-input>
              </b-form-group>
            </div>

            <!-- Название подразделения -->
             <user-select
                class="col-md-6"
                label="Руководитель подразделения:"
                :user.sync="user"
                :invalid_feedback.sync="validations.head_id"
                :disabled="loading"
                :taggable="true"
              ></user-select>   
           </div>

            <div class="row" v-if="sub.type != 'umu'">
            <div class="col-md-6">
              <b-form-group 
                label="Подразделение является частью другого подразделения:"
                label-for="parent_id" description=""
                :invalid-feedback="validations.parent_id">
                 <multiselect 
                  id="form_control"
                  v-model="parent" 
                  :options="parents" 
                  label="name"
                  track-by="id"
                  :searchable="true" 
                  :close-on-select="true" 
                  :multiple="false"
                  :show-labels="true"
                  selectLabel="Нажмите для выбора" deselectLabel="Нажмите, чтобы отказаться от выбора"  
                  selectedLabel="Выбрана"
                  placeholder="Выберите родительское подразделение"
                  :loading="parents_loading"
                  :disabled="loading"
                  required
                >
                <span slot="noResult">Список подразделений пуст...</span>
                <span slot="noOptions">Список подразделений загружается...</span>
                </multiselect>  
              </b-form-group>
            </div>
           </div>  

        </div>
        <!-- <div class="col-md-3">
          <pre class="language-json"><code>{{ newstatement }}</code></pre>
        </div> -->
      </div>

       <loader :loading="loading"></loader>  

      <div class="row mt-5">
        <div class="col-md-12 text-center">
          <div>
             <b-button type="submit" variant="outline-primary" :disabled="loading">{{ type == "create" ? 'Создать продразделение' : 'Сохранить данные' }} </b-button>
          </div>
          <p class="mb-0 text-center text-danger">{{ validations.submit }}</p>
        </div>
      </div>
    </b-form>
  </div>
</template>

<script>
// Ядро
import Vue from "vue";
// Для списков с поиском
import Multiselect from "vue-multiselect";

export default {
  components: {
    Multiselect,
  },
  data() {
    return {
      // 
      types: [],
      // 
      type_selected: null,
      // 
      sub_callback: null,
      //
      parent: null,
      parents: [],
      parents_loading: false,
      // Пользователь
      sub: {
          id: '',
          type: '',
          name: '',
          head_degree: '',
          head_id: null,
          parent_id: null,
      },
      user: null,
      // ВАЛИДАЦИЯ
      validations: {
        type: '',      
        name: '',   
        head_degree: '',
        head_id: '',
        send: '',
        submit: '',
        user: '',
      },
      // 
      loading: false,
      types_loading: false,
    }
  },
  props: {
    // Тип (добавление / редактирование)
     type: {
       type: String,
       default: 'create'
     },
    //
    level: {
      type: String,
      default: '{}'
    },
    // Данные ролей пользователя
    data: {
      type: String,
      default: '{}'
    },
    //
    data_user: {
      type: String,
      default: '{}'
    },
    data_parent: {
      type: String,
      default: '{}'
    },
    // // Статус авторизации
    // status: {
    //   type: String,
    //   default: ''
    // }
  },
  created() {
     // Получаем список ролей
    Vue.axios.get("/api/sub/types").then(response => {
        this.types = response.data;
    })

    if(this.type == 'edit') {
      this.type_selected = JSON.parse(this.level);
      this.sub = JSON.parse(this.data);
      this.user = JSON.parse(this.data_user);
      this.parent = JSON.parse(this.data_parent);
    }
 
  },
  watch: {   
    // Выбранные роли
    type_selected(after, before) {

        this.sub.type = after.slug
        this.sub.name = after.subname
        this.sub.head_degree = after.head_degree
        this.parents_loading = true;
        Vue.axios.get("/api/sub/parents/"+after.slug).then(response => {
            this.parents = response.data;
            this.parents_loading = false;
        })
      
    }, 
    //
    parent(after, before) {
      if(after == null) {
        this.sub.parent_id = null
      } else {
        this.sub.parent_id = after.id
      }
    },       
    //
    user(after, before) {
      if(after == null) {
        this.sub.head_id = null;
     } else {
      console.log(after);
      this.sub.head_id = after.data.id;
     }
    },    
  },
  methods: {
    //
    // Отправка формы
    onSubmit() {
      event.preventDefault();
      this.loading = true;
     
       if(this.type == 'edit') {
        Vue.axios.put('/subdivisions/'+this.sub.id, this.sub).then(response => {

        if(response.data.status == 'fail') {
          console.log(response.data.validations);
          this.validations = response.data.validations;
          this.loading = false;
        } else {
          window.location.href = '/subdivisions/'+this.sub.id;//+response.data.user_id;
        }        
        
      }).catch(error => {  
        console.log(error);
        this.validations.submit = 'Что то пошло не так.';
        this.loading = false;
      })
      } else {
        Vue.axios.post('/subdivisions', this.sub).then(response => {

        if(response.data.status == 'fail') {
          console.log(response.data.validations);
          this.validations = response.data.validations;
          this.loading = false;
        } else {
          window.location.href = '/subdivisions/';//+response.data.user_id;
        }        
        
      }).catch(error => {  
        console.log(error);
        
        this.validations.submit = 'Что то пошло не так.';
        this.loading = false;
      })
      }
      
    },
  
    
  }
}
</script>