<template>
  <div>
    <b-form @submit="onSubmit">
     
     <div class="row">
       <div class="col-md-6">
         <b-form-group 
                label="Комиссия утверждена приказом от:"
                label-for="date_document" description=""
                :invalid-feedback="validations.date_document">
                <b-form-input 
                  id="date_document"
                  type="date"
                  class="form-control-v2"
                  v-model="gek.date_document"
                  placeholder="Введите дату приказа"
                  :disabled="loading"
                  required
                  ></b-form-input>
              </b-form-group>
       </div>
       <div class="col-md-6">
         <b-form-group 
                label="Номер приказа:"
                label-for="number_document" description=""
                :invalid-feedback="validations.number_document">
                <b-form-input 
                  id="number_document"
                  type="text"
                  class="form-control-v2"
                  v-model="gek.number_document"
                  placeholder="Введите дату приказа"
                  :disabled="loading"
                  required
                  ></b-form-input>
              </b-form-group>
       </div>
     </div>
      <div class="row">
        <div class="col-md-6">
            <user-select
              label="Председатель комиссии:"
              :user.sync="gek.chairman"
              :invalid-feedback.sync="validations.chairman"
              :disabled="loading"
              :taggable="true"
            ></user-select>  
           <b-form-group 
            v-if="gek.chairman != null"
            label="Форма участия председателя комиссии в заседании:"
            label-for="chairman_distance" description="">
            <b-form-checkbox id="chairman_distance" v-model="gek.chairman_distance" name="check-button" switch :disabled="loading">
              <b>{{ gek.chairman_distance ? 'Дистанционное' : 'Очное' }} участие</b>.
            </b-form-checkbox>
            </b-form-group>
        </div>

        
        <div class="col-md-6">
          <user-select
          label="Секретарь комиссии:"
          :user.sync="gek.secretary"
          :invalid-feedback.sync="validations.secretary"
          :disabled="loading"
          :taggable="true"
          ></user-select>  
          <b-form-group 
            v-if="gek.secretary != null"
            label="Форма участия секретаря комиссии в заседании:"
            label-for="secretary_distance" description="">
            <b-form-checkbox id="secretary_distance" v-model="gek.secretary_distance" name="check-button" switch :disabled="loading">
              <b>{{ gek.secretary_distance ? 'Дистанционное' : 'Очное' }} участие</b>.
            </b-form-checkbox>
            </b-form-group>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
      
          <div class="row mb-2">
            <div class="col-md-6">
                <b-form-group 
                  label="Группа:" 
                  label-for="group_id" 
                  data-bs-toggle="tooltip" 
                  description=""
                  :invalid-feedback="validations.group_id">
                  
                <multiselect 
                  id="group_id"
                  v-model="group_selected" 
                  :options="groups" 
                  label="name"
                  track-by="id"
                  :searchable="true" 
                  :close-on-select="true" 
                  :multiple="false"
                  :show-labels="true"
                  selectLabel="Нажмите для выбора" deselectLabel="Нажмите, чтобы отказаться от выбора"  
                  selectedLabel="Выбрана"
                  placeholder="Выберите группу"
                  :loading="group_loading"
                  :disabled="loading"
                  required
                >
                <span slot="noResult">Список пуст...</span>
                <span slot="noOptions">Список загружается...</span>
                </multiselect>  
                </b-form-group>

             <b-form-group 
                label="Квалификация:"
                label-for="qualification" description=""
                :invalid-feedback="validations.qualification">
                <b-form-input 
                  id="qualification"
                  type="text"
                  class="form-control-v2"
                  v-model="gek.qualification"
                  placeholder="Введите название квалификации"
                  :disabled="loading"
                  required
                  ></b-form-input>
              </b-form-group>

              <b-form-group 
                label="Комментарий:"
                label-for="comment" description=""
                :invalid-feedback="validations.comment">
                <b-form-input 
                  id="comment"
                  type="text"
                  class="form-control-v2"
                  v-model="gek.comment"
                  placeholder="Необязательное поле"
                  :disabled="loading"
                  ></b-form-input>
              </b-form-group>

              <div class="">
                <b-form-group 
                  label="Контрольные мероприятия:" 
                  label-for="control" 
                  data-bs-toggle="tooltip" 
                  description=""
                  :invalid-feedback="validations.control">
                  
                <multiselect 
                  id="control"
                  v-model="control_selected" 
                  :options="controls" 
                  label="name"
                  track-by="slug"
                  :searchable="false" 
                  :close-on-select="false" 
                  :multiple="true"
                  :show-labels="true"
                  selectLabel="Нажмите для выбора" deselectLabel="Нажмите, чтобы отказаться от выбора"  
                  selectedLabel="Выбрана"
                  placeholder="Выберите контрольные мероприятия"
                  :loading="control_loading"
                  :disabled="loading"
                  required
                >
                <span slot="noResult">Список пуст...</span>
                <span slot="noOptions">Список загружается...</span>
                </multiselect>  
                </b-form-group>
             </div>
              </div>    

              <div class="col-md-6">
                <div v-if="group_selected != null" style="background-color: white; border: 1px solid #e8e8e8; border-radius: 5px; padding: 10px;">
                  <div v-for="sub in gek.sub" :key="sub.id">
                    <div class="" v-if="sub.id != null">
                      <p class="mb-1"><strong>{{ sub.name }}</strong></p>
                      <p class="mb-0 d-flex" style="justify-content: space-between;">
                        <span>{{ sub.head_degree }}</span> 
                        <a target="_blank" :href="'/users/'+sub.head_id">{{ sub.head_fio }}</a>
                      </p>
                      <hr v-if="sub.type != 'umu'">
                    </div>
                  </div>
                </div>
              </div>     
           </div>

           <div class="row">
             <!-- <div class="col-md-6">
                <b-form-group 
                  label="Форма проведения заседания:" 
                  label-for="form" 
                  data-bs-toggle="tooltip" 
                  :description="form_description"
                  :invalid-feedback="validations.form">
                  
                <multiselect 
                  id="form"
                  v-model="form_selected" 
                  :options="forms" 
                  label="name"
                  track-by="slug"
                  :searchable="false" 
                  :close-on-select="true" 
                  :multiple="false"
                  :show-labels="true"
                  selectLabel="Нажмите для выбора" deselectLabel="Нажмите, чтобы отказаться от выбора"  
                  selectedLabel="Выбрана"
                  placeholder="Выберите форму проведения заседания"
                  :loading="form_loading"
                  :disabled="loading"
                  required
                >
                <span slot="noResult">Список пуст...</span>
                <span slot="noOptions">Список загружается...</span>
                </multiselect>  
                </b-form-group>
             </div> -->
           </div>

           <div class="row">
             <user-select
                class="col-md-6"
                label="Члены комиссии:"
                :user.sync="gek.comission"
                :invalid-feedback.sync="validations.comission"
                :disabled="loading"
                :taggable="true"
                :multiple="true"
                :close_on_select="false"
              ></user-select>   

      <div class="col-md-6">
        <b-list-group>
          <draggable v-model="gek.comission" v-bind="dragOptions" :disabled="loading" group="comission">
           <transition-group type="transition" name="flip-list">
             <b-list-group-item button v-for="element in gek.comission" :key="element.id" class="text-left mb-1" 
              style="cursor: move;">
              <div class="row">
                <div class="col-md-12">
                  <p><b-icon-grip-vertical class="b-icon"></b-icon-grip-vertical>{{element.value}}</p>

                    <b-form-group 
                      label="Форма участия в заседании:"
                      :label-for="'distance_'+element.id" description="">
                        <b-form-checkbox :id="'distance_'+element.id" v-model="element.distance" name="check-button" switch :disabled="loading">
                          <b>{{ element.distance ? 'Дистанционное' : 'Очное' }} участие</b>.
                        </b-form-checkbox>
                    </b-form-group>
                </div>
              </div>
            </b-list-group-item>
           </transition-group>
          </draggable>                    
        </b-list-group>
      </div>
          </div> 

          <!-- <div class="row">
            

              <div class="col-md-6">
                <b-form-group 
                  label="Форма обучения:" 
                  label-for="form" 
                  data-bs-toggle="tooltip" 
                  description=""
                  :invalid-feedback="validations.form">
                  
                <multiselect 
                  id="form"
                  v-model="form_selected" 
                  :options="forms" 
                  label="name"
                  track-by="slug"
                  :searchable="false" 
                  :close-on-select="true" 
                  :multiple="false"
                  :show-labels="true"
                  selectLabel="Нажмите для выбора" deselectLabel="Нажмите, чтобы отказаться от выбора"  
                  selectedLabel="Выбрана"
                  placeholder="Выберите уровень образования"
                  :loading="form_loading"
                  :disabled="loading"
                  required
                >
                <span slot="noResult">Список пуст...</span>
                <span slot="noOptions">Список загружается...</span>
                </multiselect>  
                </b-form-group>
              </div>
         
           </div> -->

        </div>
        <!-- <div class="col-md-3">
          <pre class="language-json"><code>{{ newstatement }}</code></pre>
        </div> -->
      </div>

       <loader :loading="loading"></loader>  

      <div class="row mt-5">
        <div class="col-md-12 text-center">
          <div>
             <b-button type="submit" variant="outline-primary" :disabled="loading">{{ type == "create" ? 'Добавить заседание ГЭК' : 'Сохранить данные' }} </b-button>
          </div>
          <p class="mb-0 text-center text-danger">{{ validations.submit }}</p>
        </div>
      </div>
    </b-form>
  </div>
</template>

<script>
// Ядро
import Vue from "vue";
// Для списков с поиском
import Multiselect from "vue-multiselect";
// Для Drag'And'Drop сортировки списков
import draggable from "vuedraggable";

export default {
  components: {
    Multiselect,
    draggable
  },
  data() {
    return {
      // 
      groups: [],
      // 
      group_selected: null,
      //
      group_loading: false,
      // 
      chairman: null,
      //
      secretary: null,
      //
      forms: [],
      // 
      form_selected: null,
      //
      form_loading: false,
      //
      form_description: '',
      //
      controls: [],
      // 
      control_selected: null,
      //
      control_loading: false,
      // 
      gek: {
        id: '',
        group_id: null,
        group_name: '',
        chairman: null,
        chairman_distance: false,
        secretary: null,
        secretary_distance: false,
        sub: {},
        qualification: '',
        comment: '',
        date_document: '',
        number_document: '',
        form: '',
        exam: false,
        report: false,
        comission: [],
      },
      // ВАЛИДАЦИЯ
      validations: {
        group_id: '',   
        group_name: '',   
        chairman: '',
        secretary: '',
        sub: '',
        qualification: '',
        comment: '',
        date_document: '',
        number_document: '',
        form: '',
        controls: '',   
        comission: '',
      },
      //
      comission: [],
      // 
      loading: false,
      //
      dragOptions: {
        animation: 200,
        group: "description",
        disabled: false,
        ghostClass: "ghost"
      },
      // 
      //
      students: [], 
      //
      group_callback: null,
      
     
    }
  },
  props: {
    // Тип (добавление / редактирование)
     type: {
       type: String,
       default: 'create'
     },
    //
    chair: {
      type: String,
      default: '{}'
    },
    //
    level: {
      type: String,
      default: '{}'
    },
    //
    form: {
      type: String,
      default: '{}'
    },
    // 
    data: {
      type: String,
      default: '{}'
    },
    //
    data_students: {
      type: String,
      default: '{}'
    },
    //
  },
  created() {
     //
    Vue.axios.get("/api/group/list").then(response => {
        this.groups = response.data;
    })
    //
    Vue.axios.get("/api/meeting/forms").then(response => {
        this.forms = response.data;
    })
    //
    Vue.axios.get("/api/meeting/controls").then(response => {
        this.controls = response.data;
    })
  

    if(this.type == 'edit') {
      this.level_selected = JSON.parse(this.level);
      this.chair_selected = JSON.parse(this.chair);
      this.form_selected = JSON.parse(this.form);
      this.students = JSON.parse(this.data_students);
      this.group = JSON.parse(this.data);    
      }
  },
  watch: {   
    // 
    group_selected(after, before) {
      this.gek.group_id = after == null ? null : after.id
      this.gek.group_name = after == null ? '' : after.name
      this.gek.sub = after == null ? null : after.sub
    }, 
    //
    form_selected(after, before) {
      this.gek.form = after == null ? null : after.slug
      this.form_description = after == null ? null : after.description
    }, 
    //
    students(after, before) {
      this.group.students = [];
      after.forEach(element => 
       this.group.students.push(element.id)
      );
      this.validations.students  = '';
    }, 
    control_selected(after, before) {
      this.gek.exam = false;
      this.gek.report = false;
      after.forEach(element => {
        if(element.slug == 'exam') {
           this.gek.exam = true;
        } 
        if(element.slug == 'report') {
          this.gek.report = true;
        }
      }
      );
    }
  },
  methods: {
    //
    // Отправка формы
    onSubmit() {
      event.preventDefault();
      this.loading = true;
     
       if(this.type == 'edit') {
        Vue.axios.put('/groups/'+this.group.id, this.group).then(response => {

        if(response.data.status == 'fail') {
          this.validations = response.data.validations;
          this.loading = false;
        } else {
          window.location.href = '/groups/'+this.group.id;//+response.data.user_id;
        }        
        
      }).catch(error => {  
        console.log(error);
        this.validations.submit = 'Что то пошло не так.';
        this.loading = false;
      })
      } else {
        Vue.axios.post('/meetings', this.gek).then(response => {
        if(response.data.status == 'fail') {
          this.validations = response.data.validations;
          this.loading = false;
        } else {
          window.location.href = '/meetings/';
        }        
        
      }).catch(error => {  
        console.log(error);
        
        this.validations.submit = 'Что то пошло не так.';
        this.loading = false;
      })
      }
      
    },
  
    
  }
}
</script>