<template>
  <div style="display: inline-block; position: absolute; top: 50%; left: 50%; z-index:9999;">
    <h1>
      <b-icon v-if="loading" :icon="icon" :animation="animation"
    style="display: inline-block; position: absolute; top: 50%; left: 50%; z-index:9999;"></b-icon>
    </h1>
  </div>
</template>

<script>
// Ядро
import Vue from "vue";
import { BootstrapVueIcons } from 'bootstrap-vue'
Vue.use(BootstrapVueIcons)

export default {
  props: {
    // Иконка для лоадера с иконкой
    icon: {
      type: String,
      default: 'circle-fill'
    },
    animation: {
      type: String,
      default: 'throb'
    },
    //
    loading: {
      type: Boolean,
      default: false
    },
  },
}
</script>