<template>
  <div>
    <b-form @submit="onSubmit">
      <loader :loading="loading"></loader>  
      <div class="row">
        <user-select
        class="col-md-8"
        label="Добавление пользователя к роли"
        :user.sync="user"
        :invalid-feedback.sync="validations.user"
        :disabled="loading"
      ></user-select>
        <div class="col-md-4 text-center align-middle">
          <b-form-group>
              <span slot="label">&nbsp;</span>
              <b-button type="submit" variant="outline-primary" :disabled="loading">Привязать пользователю роль</b-button>
            </b-form-group>
        </div>
      </div>
      <p class="mb-0 text-center text-danger">{{ validations.submit }}</p>
    </b-form>
  </div>
</template>

<script>
// Ядро
import Vue from "vue";
// Для списков с поиском
import Multiselect from "vue-multiselect";

export default {
  components: {
    Multiselect,
  },
  data() {
    return {
      user_id:null,
      user:null,
      role_callback: null,
      // ВАЛИДАЦИЯ
      validations: {
        user: '',   
        submit: '',
      },
      // 
      loading: false,
    }
  },
  props: {
    //
    
    //
    role: {
      type: String,
      default: '{}'
    },
  },
  created() {
      this.role_callback = JSON.parse(this.role); 
  },
  watch: {   
    // Выбранные пермишны
    user(after, before) {
      if(after == null) {
        this.user_id = null;
     } else {
       this.user_id = after.data.id;
     }
    },         
  },
  methods: {
    //
    // Отправка формы
    onSubmit() {
      event.preventDefault();
      this.loading = true;

      if(this.user_id == null) {
        this.validations.user = 'Укажите пользователя';
        return;
      }

      Vue.axios.post('/users/'+this.user_id+'/attachRole/'+this.role_callback.id).then(response => {
        window.location.href = '/roles/'+this.role_callback.id;
      })
      
      // if(this.type == 'edit') {
      //   Vue.axios.put('/roles/'+this.role.id, this.role).then(response => {
      //   if(response.data.status == 'fail') {
      //     this.validations = response.data.validations;
      //     this.loading = false;
      //   } else {
      //     window.location.href = '/roles/';//+response.data.user_id;
      //   }        
      // }).catch(error => {  
      //   console.log(error);
      //   this.validations.submit = 'Что то пошло не так.';
      //   this.loading = false;
      // })
      // } else {
      //   Vue.axios.post('/roles', this.role).then(response => {
      //   if(response.data.status == 'fail') {
      //     this.validations = response.data.validations;
      //     this.loading = false;
      //   } else {
      //     window.location.href = '/roles/';//+response.data.user_id;
      //   }        
      // }).catch(error => {  
      //   console.log(error);
      //   this.validations.submit = 'Что то пошло не так.';
      //   this.loading = false;
      // })
      // }
      
    },
  }
}
</script>