<template>
  <div>
      <div class="row">
          <div class="col-md-12">
            <b-form-group 
              :label="label" label-for="input-user_id" description=""
              :invalid-feedback="invalid_feedback">
              <multiselect id="input-user_id" v-model="users_hook" :custom-label="customLabel" track-by="id" 
                placeholder="Начните вводить ФИО..." open-direction="bottom" 
                :options="users4select" :multiple="true" :searchable="true" :internal-search="false" 
                :clear-on-select="true" :close-on-select="false" :show-no-results="true" 
                :hide-selected="false" @search-change="findUser" :showLabels="true" 
                selectLabel="Нажмите для выбора" deselectLabel="Нажмите, чтобы отказаться от выбора"  
                selectedLabel="Выбран" :loading="loading" :disabled="disabled"
              >
                <span slot="noResult">Подождите, выполняется запрос.</span>
                <span slot="noOptions">Начните вводить ФИО и выберите пользователя из списка.</span>
                <template slot="selection" slot-scope="{ values, search, isOpen }">
                  <span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">
                    {{ values.length }} пользователей выбрано
                  </span>
                </template>
              </multiselect>
            </b-form-group>
          </div>
    </div>
  </div>
</template>

<script>
// Ядро
import Vue from "vue";
// Для списков с поиском
import Multiselect from "vue-multiselect";
// Для задерки (debounce) в запросах поиска
import _ from "lodash";

export default {
  components: {
    Multiselect,
  },
  data() {
    return {
      // Буферный список пользователей для выбора
      users4select: [],
       // Текст из запроса на поиск
      query_users4select: '',
      // Выбранные пользователи
      selectedUsers: [],
      // Значок загрузки
      loading: false,
      // Значок блокировки
      disabled: false,
    }
  },
  props: {
    // Выбранные ранее пользователи
    users: {
      type: String,
      default: '{}'
    },
    // Сообщение об ошибке
    invalid_feedback: {
      type: String,
      default: ''
    },
    // Сообщение об ошибке
    label: {
      type: String,
      default: ''
    },
  },
  created() {
      this.selectedUsers = JSON.parse(this.users);
  },
    computed: {
    users_hook: {
      get: function(){
        return this.users;
      },
      set: function(value) {
        if(value == null) {
          this.$emit('update:users', []);  
        } else {
          this.$emit('update:users', value);
        }
      }
    },
  },
  watch: {   
    // Выбранные пермишны
    users_selected(after, before) {
      this.users = [];
      after.forEach(element => 
       this.users.push(element.id)
      );
      this.validations.users = '';
    },         
  },
  methods: {
    //
    findUser: _.debounce(function(query) {
      if(!!query.trim()) {
        this.loading = true;
        this.query_users4select = query;
        this.users4select = [];
        Vue.axios.get( '/api/users/find', { params: { query: query } }).then(response => {
            this.users4select = response.data.suggestions;
            this.loading = false;
        })
        .catch(error => {      
          this.teachers4select = [
            {
              value: 'Что то пошло не так, код ошибки '+error.response.status+'.',
              $isDisabled: true
            }
          ];
          this.$emit('update:invalid_feedback', 'Что то пошло не так, код ошибки '+error.response.status+'.');
          this.loading = false;
        })
      }    
    }, 500),
    //
    customLabel(item) {
      return item.firstName+' '+item.lastName+' '+item.patronymic+' - '+item.email;
    },
  }
}
</script>