<template>
  <div>
      <div class="row">
          <div class="col-md-12">
            <b-form-group 
              :label="label" label-for="input-user_id" description=""
              :invalid-feedback="invalid_feedback">
              <multiselect id="input-user_id" v-model="user_hook" label="value" track-by="id" 
                placeholder="Начните вводить ФИО..." open-direction="bottom" 
                :options="users4select" :multiple="multiple" :searchable="true" :internal-search="false" 
                :clear-on-select="true" :close-on-select="close_on_select" :show-no-results="true" 
                :hide-selected="false" @search-change="findUser" :showLabels="true" 
                selectLabel="Нажмите для выбора" deselectLabel="Нажмите, чтобы отказаться от выбора"  
                selectedLabel="Выбран" :loading="loading" :disabled="disabled"
                :taggable="taggable" @tag="addTag" tag-placeholder="Создать нового пользователя"
              >
                <span slot="noResult">Подождите, запрос выполняется.</span>
                <span slot="noOptions">Начните вводить ФИО и выберите пользователя из списка.</span>
                
              </multiselect>
            </b-form-group>
            <b-modal 
              :id="'create-user-modal-'+modify" 
              size="lg" 
              title="Создание нового пользователя" 
              v-if="taggable"
              hide-footer centered>
               <create-edit-user type="create_modal" :callback.sync="create_user_hook" :result.sync="taggable_result"></create-edit-user>
            </b-modal>
          </div>
    </div>
  </div>
</template>

<script>
// Ядро
import Vue from "vue";
// Для списков с поиском
import Multiselect from "vue-multiselect";
// Для задерки (debounce) в запросах поиска
import _ from "lodash";

export default {
  components: {
    Multiselect,
  },
  data() {
    return {
      // Буферный список пользователей для выбора
      users4select: [],
       // Текст из запроса на поиск
      query_users4select: '',
      // Выбранные пользователи
      selectedUser: [],
      //
      modify: 1,
      // Значок загрузки
      loading: false,
      //
      taggable_result: false,
      create_user_hook: {},
    }
  },
  props: {
    // Возможность добавления нового пользователя
    taggable: {
      type: Boolean,
      default: false
    },
    multiple: {
      type: Boolean,
      default: false
    },
    close_on_select: {
       type: Boolean,
      default: true
    },
    // Действие: создание/изменение 
    action: {
      type: String,
      default: 'add'
    },
    // Выбранные ранее пользователи
    user: {},
    disabled: {
      type: Boolean,
      default: false
    },
    // Сообщение об ошибке
    invalid_feedback: {
      type: String,
      default: ''
    },
    // Сообщение об ошибке
    label: {
      type: String,
      default: ''
    },
  },
  created() {
      if(this.action == 'edit') {
        this.selectedUser = JSON.parse(this.user);
      }
      this.modify = Math.random();
  },
    computed: {
    user_hook: {
      get: function(){
        return this.user;
      },
      set: function(value) {
        if(value == null) {
          this.$emit('update:user', null);  
        } else {
          this.$emit('update:user', value);
        }
      }
    },
  },
  watch: {   
    // 
    user_selected(after, before) {
      this.user_hook = element;
      this.invalid_feedback = '';
    },
    taggable_result(after, before) {
      if(after == true) {
        this.findUser(this.create_user_hook.value);
        this.$bvModal.hide('create-user-modal-'+this.modify);
        this.taggable_result = false;
      }
    },
    
  },
  methods: {
    //
    findUser: _.debounce(function(query) {
      if(!!query.trim()) {
        this.loading = true;
        this.query_users4select = query;
        this.users4select = [];
        Vue.axios.get( '/api/users/find', { params: { query: query } }).then(response => {
            this.users4select = response.data.suggestions;
            this.loading = false;
        })
        .catch(error => {      
          this.teachers4select = [
            {
              value: 'Что то пошло не так, код ошибки '+error.response.status+'.',
              $isDisabled: true
            }
          ];
          this.$emit('update:invalid_feedback', 'Что то пошло не так, код ошибки '+error.response.status+'.');
          this.loading = false;
        })
      }    
    }, 500),
    //
    customLabel(item) {
      return item.firstName+' '+item.lastName+' '+item.patronymic+' - '+(item.email? item.email : 'Без доступа к системе');
    },
    //
    addTag (newTag) {
       this.$bvModal.show('create-user-modal-'+this.modify);
    },
  }
}
</script>